// Lato-Bold
@font-face {
  font-family: "Lato-Bold";
  src: local("Lato-Bold"), url("../fonts/Lato-Bold.woff2") format("woff2"),
    url("../fonts/Lato-Bold.woff") format("woff"),
    url("../fonts/Lato-Bold.ttf") format("truetype"),
    url("../fonts/Lato-Bold.eot") format("eot");
  font-display: swap;
}

// OpenSans-Light
@font-face {
  font-family: "OpenSans-Light";
  src: local("OpenSans-Light"),
    url("../fonts/OpenSans-Light.woff") format("woff"),
    url("../fonts/OpenSans-Light.ttf") format("truetype"),
    url("../fonts/OpenSans-Light.eot") format("eot");
  font-display: swap;
}

// OpenSans-Regular
@font-face {
  font-family: "OpenSans-Regular";
  src: local("OpenSans-Regular"),
    url("../fonts/OpenSans-Regular.woff") format("woff"),
    url("../fonts/OpenSans-Regular.ttf") format("truetype"),
    url("../fonts/OpenSans-Regular.eot") format("eot");
  font-display: swap;
}

// OpenSans-SemiBold
@font-face {
  font-family: "OpenSans-SemiBold";
  src: local("OpenSans-SemiBold"),
    url("../fonts/OpenSans-SemiBold.woff") format("woff"),
    url("../fonts/OpenSans-SemiBold.ttf") format("truetype"),
    url("../fonts/OpenSans-SemiBold.eot") format("eot");
  font-display: swap;
}
