.main_container {
  width: 100%;
  height: auto;
  max-width: 100%;
  margin: 0 auto;
}
.section_aboutus {
  width: 1440px;
  max-width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 140px auto 0px auto;
  padding-bottom: 50px;
}
.section_aboutus__img img {
  display: block;
  max-width: 100%;
  height: auto;
}
.section_aboutus__content {
  width: 500px;
  max-width: 100%;
  height: auto;
}
.section_aboutus__content h3 {
  color: #636363;
  font-family: $OpenSansR;
  font-size: 20px;
  font-weight: 400;
  line-height: 37.3px;
  text-transform: uppercase;
}
.section_aboutus__content__p {
  color: #222222;
  font-family: $OpenSansR;
  font-size: 34px;
  font-weight: 400;
  line-height: 37.3px;
  text-transform: uppercase;
}
.section_aboutus__content__p span {
  font-weight: 700;
}
.section_aboutus__content__p__underline {
  margin-top: 10px;
  display: block;
  max-width: 100%;
  height: auto;
}
.section_aboutus__content__maintext {
  margin-top: 31px;
  font-family: $OpenSansR;
  color: #6c6c6c;
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
}
.section_aboutus__content__list {
  list-style-image: url("../img/listtyledot.png");
  list-style-position: inside;
  margin-top: 45px;
}
.section_aboutus__content__list li {
  color: #5a5a5a;
  font-family: $OpenSansR;
  font-size: 16px;
  font-style: italic;
  line-height: 25px;
}
.section_aboutus__content__list li span {
  font-weight: 400;
  font-family: $OpenSansSemi;
}
.section_aboutus__content__button {
  width: 192px;
  max-width: 100%;
  height: 45px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  background-color: #ffffff;
  margin-top: 40px;
  display: flex;
  color: #616161;
  font-family: $OpenSansSemi;
  font-size: 12px;
  font-weight: 400;
  line-height: 33.3px;
  text-transform: uppercase;
  letter-spacing: 0.3px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.section_aboutus__content__button img {
  margin-top: -2px;
}
.section_aboutus__content__button span {
  margin-left: 12px;
}

// Our_team
.section_ourteam {
  width: 100%;
  height: auto;
  max-width: 100%;
  margin: 0 auto;
  background: #070707;
}
.section_ourteam_h4 {
  color: #ffffff;
  font-family: $OpenSansR;
  font-size: 44px;
  word-wrap: break-word;
  line-height: 50px;
  text-transform: uppercase;
  text-align: center;
  padding-top: 90px;
}
.section_ourteam_h4 span {
  font-weight: 300;
  font-family: $OpenSansl;
}
.main_container__section_ourteam_img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 25px auto 0px auto;
}
.main_container__section_ourslickslider {
  width: 1440px;
  max-width: 100%;
  margin: 63px auto 0px auto;
  height: auto;
  padding-bottom: 150px;
}
.slick_one__slider {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  display: flex !important;
  flex-wrap: wrap;
  justify-content: space-around;
}
.slick_one__slider_secondsl {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  display: flex !important;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-bottom: 50px;
}
.slick_one__slider__item {
  width: 267px;
  max-width: 100%;
  height: auto;
}
.slick_one__slider__item_iconimg {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}
.slick_one_slider_title {
  text-align: center;
  margin-top: 22px;
  color: #ffffff;
  font-family: $OpenSansR;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}
.slick_one_slider_description {
  color: #ffffff;
  font-family: $OpenSansR;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  margin-top: 3px;
}
.slick_one_slider_content {
  color: #ffffff;
  font-family: $OpenSansR;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  margin-top: 30px;
}
.ourservisec_us {
  width: 100%;
  max-width: 100%;
  margin: 100px auto 0px auto;
  height: auto;
}
.ourservisec_us_h4 {
  color: #222222;
  font-family: $OpenSansl;
  font-size: 44px;
  font-weight: 300;
  line-height: 50px;
  text-transform: uppercase;
  text-align: center;
  word-wrap: break-word;
}
.ourservisec_us_h4 span {
  font-family: $OpenSansR;
}
.ourservisec_us__content {
  width: 1440px;
  max-width: 100%;
  height: auto;
  margin: 41px auto 0px auto;
}
.ourservisec_us__context {
  color: #6c6c6c;
  font-family: $OpenSansR;
  font-size: 16px;
  font-style: italic;
  line-height: 24px;
  text-align: center;
  width: 1140px;
  margin: 0 auto;
  max-width: 100%;
}
.ourservisec_us__context__work {
  color: #6c6c6c;
  font-family: $OpenSansR;
  font-size: 16px;
  font-style: italic;
  line-height: 24px;
  text-align: center;
  width: 1140px;
  margin: 42px auto 0px auto;
  max-width: 100%;
}
.ourservisec_us__content__flex {
  width: 100%;
  height: auto;
  margin: 85px auto 0px auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.ourservisec_us__content__flex__item {
  width: 250px;
  max-width: 100%;
  height: auto;
  margin-top: 30px;
}
.ourservisec_us__content__flex__item img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
}
.heading__article {
  text-align: center;
  color: #222222;
  font-family: $OpenSansSemi;
  font-size: 25px;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
  margin-top: 29px;
  word-wrap: break-word;
}
.content_text_article {
  text-align: center;
  color: #222222;
  font-family: $OpenSansR;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  margin-top: 20px;
}
.ourclients {
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #0b0b0b;
  margin: 100px auto 0px auto;
}
.slick_one__slider_secondsl img {
  display: block;
  margin-top: 40px;
  max-width: 100%;
  height: auto;
}
.ourportfolio {
  width: 1440px;
  max-width: 100%;
  height: auto;
  margin: 100px auto 0px auto;
}
.ourportfolio__filters {
  width: 100%;
  max-width: 100%;
  margin: 116px auto 0px auto;
  height: auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.ourportfolio__filters__heading {
  color: #222222;
  font-family: $OpenSansSemi;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
}
.ourportfolio__filters__list {
  width: 440px;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.ourportfolio__filters__list li {
  color: #6c6c6c;
  font-family: $OpenSansR;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  cursor: pointer;
  padding-right: 12px;
  border-right: 1px solid #6c6c6c;
}
.ourportfolio__filters__list li:last-child {
  border: none;
}
.disabled_item {
  display: none;
}

.ourportfolio__filters__list_item {
  width: 100%;
  height: auto;
  max-width: 100%;
  margin: 15px auto 0px auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.ourportfolio__filters__list_item_items {
  width: 263px;
  height: 210px;
  margin-top: 30px;
  cursor: pointer;
  position: relative;
}
.ourportfolio__filters__list_item_items img {
  width: 100%;
  height: 100%;
}
.ourportfolio__filters__list_item_items:hover .hidden_more_information {
  opacity: 1;
  transition: all 0.5s ease;
}
.hidden_more_information {
  width: 100%;
  height: 100%;
  position: absolute;
  background: #222222;
  top: 0;
  left: 0;
  opacity: 0;
  transition: all 0.5s ease;
}
.hidden_more_information_heading {
  color: #fff;
  font-family: $OpenSansSemi;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
  text-align: center;
  margin-top: 66px;
}
.hidden_more_information_content {
  color: #b2b2b2;
  font-size: 14px;
  font-family: $OpenSansSemi;
  text-align: center;
  margin-top: 8px;
}
.ourportfolio__filters__list_item__img {
  width: 40px;
  height: 40px;
  margin: 15px auto 0px auto;
}
.customers_otzivy {
  width: 100%;
  height: auto;
  max-width: 100%;
  margin: 100px auto 0px auto;
  background: #0b0b0b;
}
.slick_three_text {
  text-align: center;
  color: #e7e7e7;
  font-family: $OpenSansl;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
}
.slide_three_oner {
  margin: 20px auto 0px auto;
}
.slick_three_texxtup {
  text-align: center;
  color: #b2b2b2;
  font-family: $OpenSansR;
  font-size: 18px;
  font-weight: 300;
  line-height: 24px;
  margin-top: 42px;
}
.slick_three_texxtup span {
  font-weight: 600;
}
.form__our_side {
  width: 1440px;
  max-width: 100%;
  height: auto;
  margin: 100px auto 0px auto;
}
.main_formart {
  width: 1140px;
  max-width: 100%;
  height: auto;
  margin: 95px auto 0px auto;
}
.main_formart__itembar {
  width: 100%;
  max-width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  flex-wrap: wrap;
}
.main_formart__itembar div {
  max-width: 100%;
}
.main_formart__itembar div label {
  color: #636363;
  font-family: $OpenSansR;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}
.main_formart__itembar div label span {
  color: #db0000;
}
.main_formart__itembar div input {
  display: block;
  width: 470px;
  max-width: 100%;
  height: 50px;
  margin-top: 11px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  background-color: #ffffff;
  box-sizing: border-box;
  padding-left: 15px;
  font-family: $OpenSansR;
}
.text_area_block {
  margin-top: 30px;
}
.text_area_block label {
  color: #636363;
  font-family: $OpenSansR;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}
.text_area_block textarea {
  width: 1140px;
  display: block;
  max-width: 100%;
  height: 163px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  background-color: #ffffff;
  margin-top: 11px;
  padding-left: 15px;
  padding-top: 10px;
  box-sizing: border-box;
}
.main_formart button {
  width: 165px;
  display: block;
  max-width: 100%;
  height: 40px;
  background-color: #fcac45;
  border: none;
  color: #ffffff;
  font-family: $OpenSansSemi;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-top:32px;
  margin-left:auto;
  text-transform: uppercase;
  cursor: pointer;
  transition: all .5s ease;
}
.main_formart button:hover{
  transition: all .5s ease;
  border:1px solid #fcac45;
  background:none;
  color:#fcac45;
}



// Media requerst
@include lowDesktop() {
  .ourportfolio {
    width: 90%;
  }
  .main_container__section_ourslickslider {
    width: 90%;
  }
  .ourservisec_us {
    width: 90%;
  }
  .section_aboutus {
    width: 90%;
  }
  .form__our_side {
    width: 90%;
  }
}
@include moreDesktop {
  .section_aboutus__img img {
    width: 450px;
    height: auto;
  }
}
@include mostDesktop {
  .main_formart__itembar div {
    margin-top: 20px;
  }
}

@include SliderDes {
  .slick_one__slider__item {
    margin-top: 30px;
  }
}

@include IpadReverse {
  .section_aboutus__img img {
    width: 350px;
    height: auto;
  }
  .section_aboutus__img img {
    width: 400px;
    height: auto;
  }
  .section_aboutus__img {
    margin: 0 auto;
  }
  .section_aboutus__content {
    margin: 20px auto 0px auto;
  }
}
@include IpadScreen {
  .main_formart button{
    margin:32px auto 0px auto;
  }
  .section_aboutus__content__p {
    font-size: 26px;
  }
  .section_aboutus__content__maintext {
    font-size: 16px;
  }
  .section_aboutus__content__list li {
    font-size: 16px;
  }
}
@include Phone_preload {
  .ourportfolio__filters__heading {
    margin: 0 auto;
  }
  .ourportfolio__filters__list {
    margin: 30px auto 0px auto;
  }
}

@include Phone_screen {
  .main_formart button{
    font-size:14px;
  }
  .main_formart {
    margin: 40px auto 0px auto;
  }
  .slick_three_text {
    font-size: 14px;
  }
  .slick_three_texxtup {
    font-size: 13px;
  }
  .hidden_more_information_heading {
    font-size: 15px;
  }
  .ourportfolio__filters__list li {
    border: none;
    font-size: 13px;
    padding-right: 0;
  }

  .slick_one__slider_secondsl img {
    margin-top: 30px;
  }
  .slick_one__slider_secondsl {
    padding-bottom: 30px;
  }
  .ourservisec_us {
    margin: 60px auto 0px auto;
  }
  .content_text_article {
    font-size: 13px;
    margin-top: 10px;
  }
  .heading__article {
    font-size: 19px;
    margin-top: 17px;
  }
  .ourservisec_us__content__flex {
    margin: 45px auto 0px auto;
  }
  .ourservisec_us_h4 {
    font-size: 30px;
    line-height: 35px;
  }
  .ourservisec_us__context {
    font-size: 13px;
  }
  .ourservisec_us__context__work {
    font-size: 13px;
  }
  .main_container__section_ourteam_img {
    margin: 15px auto 0px auto;
  }
  .slick_one_slider_content {
    font-size: 13px;
    margin-top: 15px;
  }
  .slick_one_slider_title {
    font-size: 17px;
  }
  .slick_one_slider_description {
    font-size: 15px;
  }
  .section_ourteam_h4 {
    padding-top: 60px;
    font-size: 30px;
    line-height: 35px;
  }
  .section_aboutus {
    margin: 70px auto 0px auto;
  }
  .section_aboutus__content__maintext {
    font-size: 14px;
  }
  .section_aboutus__content__p {
    font-size: 20px;
  }
  .section_aboutus__content__list li {
    font-size: 14px;
  }
  .section_aboutus__content__list {
    margin-top: 30px;
  }
  .section_aboutus__content__button {
    height: 40px;
  }
}
